#AboutTitle {
    height: 150px;
    text-align: center;
    color: White;
}

#myPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20%;
    height: 304px;
    width: 281px;
    box-shadow: 20px 5px 20px #5900ff, 0px 5px 20px #8340ff, -20px 5px 20px #8340ff;
    background-image: linear-gradient(-90deg, #CF77F3 0%, #009BFF 47%, #2AC9DB 100%);
}

#MyDescript {
    color: white;
    position: relative;
    white-space: wrap;
    margin-top: 25px;
    margin-bottom: 50px;
    word-spacing: normal;
    text-align: left;
    font-family: "Open Sans", sans-serif;
}

.container {
    background: ff9;
    position: relative;
    margin-left: auto;
    box-sizing: border-box;
}

body {
    background-color: black;
    ;
}

.type {
    border-right: solid 3px rgba(0, 255, 0, .75);
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Source Code Pro', monospace;
    font-size: 45px;
    background-image: linear-gradient(45deg, #5900ff, #8340ff);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Animation */

.type {
    animation: animated-text 2s steps(17, end) 1s 1 normal both, animated-cursor 600ms steps(17, end) infinite;
}

/* text animation */

@keyframes animated-text {
    from {
        width: 0;
    }
    to {
        width: 225px;
    }
}

/* cursor animations */

@keyframes animated-cursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}

#header {
    font-size: 80px;
    color: white;
    margin: -2rem 0 2rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    font-size: 20px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

header {
    margin-bottom: 3rem;
}

.site-header {
    background-color: #000;
}

.site-header .navbar-nav li .nav-link {
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.site-header .navbar-nav li.active a {
    background-color: #111;
}

.social-media-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.social-media-holder a {
    margin: 0 0.8rem;
}

section.introduction-holder {
    margin-top: 3rem;
}

.project-holder {
    margin-bottom: 5rem;
}

#vs {
    height: 100px;
}

#html {
    height: 100px;
    position: relative;
}

#css {
    height: 100px;
    position: relative;
}

#cs {
    height: 100px;
    position: relative;
}

#sql {
    height: 100px;
}

#micro {
    height: 100px;
}

#scrum {
    height: 100px;
}

#gh {
    height: 100px;
    position: relative;
}

#logos {
    flex-direction: row;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

#button {
    background-image: linear-gradient(45deg, #5900ff, #8340ff);
}

button {
    margin: 0 auto 20px;
    display: block;
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;
    border-radius: 10px;
    height: 45px;
    width: 200px;
    text-align: center;
}

/* visible style in large device */

@media (min-width: 992px) {
    .site-header {
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media screen and (min-width: 601px) {
    p {
        font-size: 32px;
    }
}

@media screen and (max-width: 600px) {
    p {
        font-size: 25px;
    }
}

@media screen and (max-width: 600px) {
    button {
        font-size: 18px;
    }
}

@media screen and (min-width: 600px) {
    button {
        font-size: 20px;
        height: 56px;
    }
}