img {
    background-color: #fff;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}

body {
    background-color: black;
}

#shop {
    margin-top: 50px;
    height: 200px;
    width: 200px;
    border-radius: 80%;
    font-size: 35px;
    background-image: linear-gradient(45deg, #5900ff, #8340ff);
}

#lgo {
    background-color:black;
    height: 200px;
    width: 210px;
}

h4 {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 35px;
    background-image: linear-gradient(45deg, #5900ff, #8340ff);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

figcaption {
    text-align: center;
    font-size: 30px;
    color: white;
}

#original {
    width: 373px;
    height: 373px;
    background-color: black;
}

#original-button {
    background-image: linear-gradient(45deg, #5900ff, #8340ff);
    border: 0px;
}

#red-drop {
    width: 350px;
    height: 320px;
    background-color:red;
    border-radius: 20%;
    margin-bottom: 30px;
}

#red-button {
    border: 0px;
    background-color: rgb(223, 9, 9);
    font-style: bold;
}

#spaceman {
    width: 373px;
    height: 373px;
    background-color:black;
}

#space-button {
    border: 0px;
    background-image: linear-gradient(45deg, #5900ff, #8340ff);
}

#rainbow {
    width: 350px;
    height: 300px;
    margin-bottom: 10px;
    background-color:black;
    margin-bottom: 30px;
}

#rainbow-button {
    background-image: linear-gradient(45deg, #5900ff, #8340ff, pink);
    border: 0px
}

button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    display: block;
    border: 1px outset rgb(13, 13, 19);
    background-color: rgb(0, 0, 0);
    color: white;
    width: 150px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 80px;
}

#header {
    font-size: 80px;
    color: white;
    margin: -2rem 0 2rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    font-size: 20px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

header {
    margin-bottom: 3rem;
}

.site-header {
    background-color: #000;
}

.site-header .navbar-nav li .nav-link {
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.site-header .navbar-nav li.active a {
    background-color: #111;
}

/* visible style in large device */

@media (min-width: 992px) {
    .site-header {
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media screen and (min-width: 601px) {
    p {
        font-size: 32px;
    }
}

@media screen and (max-width: 600px) {
    p {
        font-size: 25px;
    }
}